#logo {
    background: #235e3d;
}

#menu ul li:hover {
    background: #235e3d;
}

body {
    background: url('../img/FONDO\ 2.avif');
}

.button-more {
    background: #235e3d;
}



.ui-accordion-header.ui-state-active {
    border: 1px solid #0d2402;
    background: #235e3d;
    color: white;
}

#contact-form-button{
    background: #235e3d;
}

#contact-form select{
    background: #91b59e;
}