#logo{
    background: #CA3413;
}

#menu ul li:hover{
    background: #CA3413;
}

body{
    background: url('../img/FONDO\ 3.jpg');
}

.button-more{
    background: #CA3413;
}

.ui-accordion-header.ui-state-active {
    border: 1px solid #6d200f;
    background: #CA3413;
    color: #fff;
}

#contact-form-button{
    background: #CA3413;
}

#contact-form select{
    background: #deaca2;
}